.profile {
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: 90%;
        display: flex;
        gap: 30px;
        margin-top: 120px;

        .left {
            border-radius: 5px;
            width: 45%;
            background-color: #fff;
            padding: 10px 15px;

            .leftTitle {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    border-radius: 5px;
                    width: 120px;
                    height: 120px;
                }

                h5 {
                    font-size: 18px;
                    margin: 0;
                }

                p {
                    font-weight: 500;
                    color: #b5b5c3;
                }

            }

            .leftContent {
                margin-top: 50px;

                .leftContentItem {
                    margin-bottom: 10px;

                    span {
                        font-weight: 500;
                    }

                    a {
                        cursor: auto;
                        color: #b5b5c3;
                        text-decoration: none;
                        float: right;

                    }
                }

                .leftContentItem:nth-child(1) {
                    a {
                        &:hover {
                            cursor: pointer;
                            color: #1890ff;
                        }
                    }
                }
            }

            .leftChange {
                float: right;
                text-align: right;

                p {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        .right {
            border-radius: 5px;
            padding: 20px 30px;
            background-color: #fff;
            width: 90%;


            .rightTitle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;

                h3 {
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }

            .rightInfor {
                h3 {
                    font-size: 20px;
                    text-align: center;
                    margin: 20px 0;
                }

                .form {
                    display: flex;
                    margin: 0 auto;
                    width: 400px;
                }
            }
        }
    }
}