.notfound {
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.tgdd.vn/hoi-dap/580732/loi-404-not-found-la-gi-9-cach-khac-phuc-loi-404-not-1-800x450.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}