@import './../../assets/sass/variable';

.logo {
    cursor: pointer;
    position: relative;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    transition: background-color .5s linear;

    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    &:hover {
        background-color: #4e759c;
    }
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;

    .group {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;
        margin-right: 20px;
        line-height: 0;

        .infor {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 10px;
            border-radius: 5px;
            transition: background-color .2s linear;

            img {
                width: 30px;
                height: 30px;
                border-radius: 5px;
            }

            &:hover {
                cursor: pointer;
                background-color: #4e759c;
            }
        }

    }
}

.drawer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        :nth-child(1) {
            font-size: $root-title-font-size;
        }

        :nth-child(2) {
            font-size: bold;
            font-weight: normal;
            font-size: $root-font-size;
            margin-left: 10px;
            color: $root-grey-color;

            &:hover {
                color: $root-grey-color;
            }
        }
    }

    :nth-child(2) {
        transition: color .2s linear;

        &:hover {
            color: $root-primary-color;
        }
    }
}



.quick {

    .quickProfile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .quickProfileTitle {
            display: flex;
            align-items: flex-end;
            gap: 10px;

            h4 {
                font-size: $root-title-font-size;
                margin-bottom: 0;
            }

            span {
                line-height: 1.9;
                color: $root-grey-color;
                font-size: $root-font-size;
                margin: 0;
            }
        }

        .close {
            cursor: pointer;
            background-color: #f3f6f9;
            padding: 2px 5px;
            border-radius: 3px;
            transition: color .1s ease-in;

            &:hover {
                background-color: #6993ff;
                color: #fff;
                transition: color .1s ease-in;
            }
        }
    }

    .quickLogin {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;


        img {
            width: 100px;
            height: 100px;
            border-radius: 5px;
        }

        div {
            .inforEmail {
                display: flex;
                align-items: center;
                gap: 5px;

                .icon {
                    color: #6993ff;
                }

                p {
                    margin: 0;
                }
            }

        }

        p {
            font-size: $root-font-size;
            color: $root-grey-color;
            margin: 6px 0;
        }

        h6 {
            font-size: $root-title-font-size;
        }

        .button {
            margin-top: 20px;
            text-align: center;

            button {
                cursor: pointer;
                border-radius: 5px;
                background-color: #e1e9ff;
                color: #6993ff;
                border: none;
                padding: 10px 50px;
                transition: background-color .3s linear;

                &:hover {
                    background-color: #6993ff;
                    color: #fff;
                    transition: background-color .3s linear;
                }
            }
        }
    }

    .quickMore {
        border-top: 1px dashed #ccc;
        padding-top: 30px;
        font-size: $root-font-size;

        .quickMoreItem {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            gap: 10px;

            .moreIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f3f6f9;
                color: #6993ff;
                font-size: $root-title-font-size;
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }

            h6 {
                font-size: $root-font-size;

                &:hover {
                    color: #6993ff;
                }
            }

            p,
            h6 {
                margin: 0;
            }
        }
    }
}